{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'training/style.css' %}">
<title>Polls</title>

{% block content %}
{% if user.is_authenticated %}
  <div class="login_logout">
      <h3><strong>Hi {{ user.username }}!</strong></h3>
      <button class="btn" ><a href="{% url 'logout' %}">Log Out</a></button>
  </div>
{% else %}
  <div class="login_logout">
      <h3><strong>You are not logged in</strong></h3>
      <button class="btn"><a href="{% url 'login' %}">Log In</a></button>
  </div>
{% endif %}
{% endblock %}

<h1>Let's let the Polls decide it {;-)</h1>
<div class="borders">
    {% if latest_question_list %}
        <ol>
        {% for question in latest_question_list %}
            <li><a href="{% url 'training:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ol>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>